h1#title{
    position: absolute;
    top: 400px;
    margin-left: 300px;
    width: 60%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: fantasy;
    color:royalblue;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: gray 10px 10px;
}
input#solicitud{
    position: absolute;
    background-color: royalblue;
    border-color: royalblue;
    color: white;
    font-weight: bolder;
    top: 500px;
    right:  0;
    margin-right: 200px;
    width: 170px;
    height: 20px;
    display: flex;
    justify-content: flex-start; 
    text-transform: uppercase; 
}
input#solicitud:hover{
    background-color: gray;
    border-color:gray;
    animation-duration: 50s;
}

p#text{
    position: absolute;
    top: 550px;
    width: 50%;
    right: 0;
    margin-right: 15%;
    white-space: pre-line;
}
#photo{
    position: absolute;
    top: 600px;
    left: 0;
    margin-left: 90px;
}
#modul{
    position: absolute;
    top: 1150px;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%; 
}
/* #link{
    position: absolute;
    top: 1300px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#p, a{
    text-decoration: none;
    color: black;
    font-family: monospace;
    font-size: 1.5em;
}
a:hover{
    text-decoration: none;
    color:cadetblue;
} */
/* Modal */
p{
    color: black;
    font-family: monospace;
    font-size: 1.5em;
    margin-left: 100px;
}
div#buttons{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 1540px;
    width: 80%;
    height:90px;
}
#myButton{
    position: absolute;
    background: cadetblue;
    border-color: cadetblue;
    color: white;
    width: 10%;
    font-weight: bold;
    margin-right: 1000px;
    top: 30px;
}
#myButton2{
    position: absolute;
    margin-left: 300px;
    background: cadetblue;
    border-color: cadetblue;
    color: white;
    width: 10%;
    font-weight: bold;
    top: 30px;
}
#myButton:hover, #myButton2:hover{
    background: grey;
    border-color: grey;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    font-family: Arial, Helvetica, sans-serif;
  
  }
  .content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  .pdf{
      width: 100%;
      height: 100%;
  }
  
  
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .close2 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close2:hover, .close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .header {
    padding: 2px 16px;
    background-color: #b85c;
    color: white;
  }
  .body {
      padding: 2px 16px;
      height: 80%;
  }
  .footer {
    bottom: 20px;
    background-color:red;
    color: white;
    border-style: dashed;
  
  }
/* Atencion a personas en situacion de dependencia */
p#text2{
    position: absolute;
    top: 550px;
    width: 60%;
    right: 0;
    margin-right: 5%;
    white-space: pre-wrap;
    text-align: justify;
}
ul#lista2{
    position: absolute;
    top: 760px;
    right: 0;
    margin-right: 80px;
    text-align: justify;
}

#photo2{
    position: absolute;
    top: 620px;
    left: 0;
    margin-left: 180px;
}
#modul2{
    position: absolute;
    top: 1240px;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%; 
}
p#text3{
    position: absolute;
    top: 970px;
    width: 90%;
    right: 0;
    margin-right: 3%;
    white-space: pre-wrap;
    text-align: justify;
}
div#buttons2{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 1750px;
    width: 80%;
    height:90px;
}
/* div#link2{
    position: absolute;
    top: 1700px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9em;
} */

/* Auxiliar de enfermeria */
#photo3{
    position: absolute;
    top: 520px;
    left: 0;
    margin-left: 140px;
}
#lista3{
    position: absolute;
    top: 690px;
    right: 0;
    margin-right: 80px;
    text-align: justify;
}
p#text4{
    position: absolute;
    top: 540px;
    width: 60%;
    right: 0;
    margin-right: 2%;
    text-align: justify;
}
p#text5{
    position: absolute;
    top: 810px;
    width: 90%;
    right: 0;
    margin-right: 2%;
    text-align: justify;
}
div#modul3{
    position: absolute;
    top: 999px;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%; 
}
div#buttons3{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 1250px;
    width: 80%;
    height:90px;
}
/* div#link3{
    position: absolute;
    top: 1210px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9em;
} */
/* DESARROLLO DE APLICACIONES MULTIPLATAFORMA */
p#text6{
    position: absolute;
    top: 550px;
    width: 50%;
    right: 0;
    margin-right:12% ; 
    white-space: pre-wrap;
    text-align: justify;
}
p#text61{
    position: absolute;
    top: 815px;
    width: 80%;
    right: 0;
    margin-right:12% ; 
    white-space: pre-wrap;
    text-align: justify;
}
p#text7{
    position: absolute;
    top: 880px;
    width: 65%;
    right: 0;
    margin-right:24% ; 
    white-space: pre-line;
    text-align: justify;
}
div#modul4{
    position: absolute;
    top: 950px;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%; 
}
div#buttons4{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 1450px;
    width: 80%;
    height:90px;
}
/* div#link4{
    position: absolute;
    top: 1320px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9em;
} */
/* integracion social */
p#text62{
    position: absolute;
    top: 850px;
    width: 80%;
    right: 0;
    margin-right:12% ; 
    white-space: pre-wrap;
    text-align: justify;
}
p#text8{
    position: absolute;
    top: 1050px;
    width: 50%;
    right: 0;
    margin-right:42%; 
}
div#modul5{
    position: absolute;
    top: 1120px;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%; 
}
/* div#link5{
    position: absolute;
    top: 1520px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9em;
} */
div#buttons5{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 1655px;
    width: 80%;
    height:90px;
}

/* Educacion infantil */
h1#title2{
    position: absolute;
    top: 350px;
    margin-left: 40px;
    width: 90%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: fantasy;
    font-size: 1.5em;
    color:royalblue;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: gray 10px 10px;
}
input#solicitud2{
    position: absolute;
    background-color: royalblue;
    border-color: royalblue;
    color: white;
    font-weight: bolder;
    top: 450px;
    right:  0;
    margin-right: 200px;
    width: 170px;
    height: 20px;
    display: flex;
    justify-content: flex-start; 
    text-transform: uppercase; 
}
input#solicitud2:hover{
    background-color: gray;
    border-color:gray;
    animation-duration: 50s;
}
div#modul6{
    position: absolute;
    top: 1270px;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%; 
}
p#text62{
    position: absolute;
    top: 850px;
    width: 80%;
    right: 0;
    margin-right:12% ; 
    white-space: pre-wrap;
    text-align: justify;
}
p#text9{
    position: absolute;
    top: 870px;
    width: 90%;
    right: 0;
    margin-right:5%; 
    white-space: pre-wrap;
}
div#link6{
    position: absolute;
    top: 1810px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9em;
}