/*Es el tamaño de la foto y puedes mover la foto de derecha o izquierda*/
.photo {
    width: 1000px;
    height: 400px;
    }
 /*Permite colocar la foto*/   
div#main{
  position: absolute;
/*   border-style:dotted;
  border-color: khaki; */
  display: flex;
  justify-content: center;
  width: 80%;
  margin-left: 200px;
  margin-top: 100px;
}
div#main .slideShow {
  box-shadow: 3px 3px 3px 3px lightblue;
  -moz-transition: all 2s ease 0s;
  -ms-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  -webkit-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
 
}
/* Diseño de botones */
a.prev, a.next {
  cursor: -webkit-grab;
  position: absolute;
  top: 50%;/*Nos permitirá  mover arriba o abajo de ambos botones*/
  margin-top: -20px;
  width: auto;
  padding: 16px;
  background-color: grey;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
 
} 
/* Hemos colocado el boton next a la derecha para que no se une al boton prev */
 a.next {
  margin-left: 41%;/*Colocar bien el boton next*/
  border-radius: 3px 0 0 3px;
}
/* Hemos colocado el boton prev a la derecha para que no se une al boton next */
a.prev{
  margin-left: -41%;/*Colocar bien el boton prev*/
  border-radius: 0 3px 3px 0;
}
a.prev:hover, a.next:hover{
  background: lightblue;
  transition-duration: 2.1s;
}
/* Es una etiqueta que está el centro de la presentacion, por ejemplo "Atencion dependencia"*/
.advertising{
    display: flex;
    justify-content: center;
    top: 45%;
    padding: 8px 12px;
    position: absolute;
    bottom: 550px;
    width: auto; 
}

h2.enunciated a.linkShow{
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #f2f2f2;
    text-decoration: none;
    background: grey;
    width:auto;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 
h2.enunciated:hover a.linkShow:hover{
    background: lightblue;
    box-shadow: 5px 5px grey;
    transition: 2s;
}
/* Nos permitirá  mover cada etiquetas por los lados */
[alt~=ad]{
    margin-left: 340px;
}
[alt~=ei]{
    margin-left: 340px;
}
[alt~=is]{
    margin-left: 340px;
}
[alt~=smr]{
    margin-left: 255px;
}
[alt~=dam]{
    margin-left: 155px;
}


/*En la siguiente está todo relacionado en javaScript, nos ayudará a crear una animacion, de momento no tienes que tocar*/

/*Como desvanecerse*/
.dispel{
    animation-name:dispel;
    animation-duration: 2.5s;
}
@-webkit-keyframes dispel {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes dispel {
    from {opacity: .4} 
    to {opacity: 1}
}

.dot  {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

  @media only screen and (max-width: 600px) {
  
  }