h1#title{
    position: absolute;
    top: 400px;
    margin-left: 300px;
    width: 60%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: fantasy;
    color:royalblue;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: gray 10px 10px;
}
p#present{
    position: absolute;
    top: 500px;
    white-space: pre-wrap;
    border-bottom: double;
    border-color: honeydew;
    width: 80%;
    margin-left: 10%;
}
img.photo{
    width: 100px;
}
/* SISTEMAS MICROINFORMÁTICOS Y REDES */
h2#title2{
    position: absolute;
    top: 800px;
    color:royalblue;
    margin-left: 300px;
    width: 60%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

div#smr{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 910px;
}
div#smr div{
    margin-left: 20px;
}
/*ATENCIÓN A PERSONAS EN SITUACIÓN DE DEPENDENCIA  */
h2#title3{
    position: absolute;
    top: 1090px;
    color:royalblue;
    margin-left: 300px;
    width: 60%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}
div#apsd{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 1190px;
}
div#apsd div{
    margin-left: 20px;
}
/* TÉCNICO SUPERIOR EN EDUCACIÓN INFANTIL */
h2#title4{
    position: absolute;
    top: 1300px;
    color:royalblue;
    margin-left: 300px;
    width: 60%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}
div#educacion{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 1390px;
}
div#educacion div{
    margin-left: 20px;
}
/* TÉCNICO SUPERIOR EN DESARROLLO DE APLICACIONES MULTIPLATAFORMA */
h2#title5{
    position: absolute;
    top: 1490px;
    color:royalblue;
    margin-left: 300px;
    width: 60%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}
div#dam{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 1590px;
}
div#dam div{
    margin-left: 20px;
}

/* TÉCNICO EN ATENCIÓN A PERSONAS EN SITUACIÓN DE DEPENDENCIA */
h2#title6{
    position: absolute;
    top: 1700px;
    color:royalblue;
    margin-left: 300px;
    width: 60%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}
div#dependencia{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 1800px;
}
div#dependencia div{
    margin-left: 20px;
}