@font-face{
    font-family: 'Bebas';
    src: url(fonts/BebasNeue-Regular.ttf);
}

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body{
    background-color: #DAEBF3;
}

#header{
    height: 270px;
    width: 100%;
    background-color: white;
}

#header img{
    width: 220px;
    display: block;
    margin-left: 6%;
    padding-top: 15px;
}

#header h1{
    position: absolute;
    left: 33%;
    top: 10%;
    font-size: 100px;
    font-family: Bebas;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

#header #share{
    width: 20px;
    position: absolute;
    right: 8.5%;
    top: 3.2%;
}

#header p{
    font-size: 20px;
    color: #F59E01;
    position: absolute;
    right: 10%;
    top: 5%;
}

#menu{
    background-color: rgb(0, 62, 88);
    font-family: sans-serif;
    height: 49px;
    margin-bottom: 1000px;
    box-shadow: 0px 10px 26px 0px grey;
    width: 100%;
    z-index: 1500;
}

#menu ul{
    margin-left: 20%;
    height: 49px;
}

#menu ul li{
    list-style: none;
    display: inline-block;
    padding: 15px;
    height: 19px;
}

.lista{
    background-color: #0077A9;
    font-weight: bold;
}

#menu ul li:hover{
    background-color: #0077A9;
    color: black;
    font-weight: bold;
    transition: .3s;
    cursor: pointer;
    height: 19px;
}

#menu ul li a{
    text-decoration: none;
    color: white;
}

#menu ul #submenu{
    background-color: rgb(0, 62, 88);
    position: absolute;
    width: 40%;
    height: 145.1px;
    top: 44.2%;
    left: 5.5%;
    z-index: 99;
    display: none;
}

#menu ul li:hover #submenu{
    display: block;
}

#menu ul li:hover #submenu li:hover::before{
    color: white;
    font-weight: bold;
    content: ">";
    margin-left: 2px;
    margin-right: 7px;
}

#menu ul li:hover #submenu1 li:hover::before{
    color: white;
    font-weight: bold;
    content: ">";
    margin-left: 2px;
    margin-right: 7px;
}

#menu ul li:hover #submenu2 li:hover::before{
    color: white;
    font-weight: bold;
    content: ">";
    margin-left: 2px;
    margin-right: 7px;
}

#menu ul li:hover #submenu li a{
    font-weight: initial;
}

#menu ul li:hover #submenu li:hover a{
    font-weight: bold;
}

#menu ul #submenu li{
    width: 578px;
}

#menu ul #submenu1{
    background-color: rgb(0, 62, 88);
    position: absolute;
    width: 36.87%;
    height: 145.1px;
    top: 44.2%;
    left: 16.3%;
    z-index: 99;
    display: none;
}

#menu ul li:hover #submenu1{
    display: block;
}

#menu ul li:hover #submenu1 li a{
    font-weight: initial;
}

#menu ul li:hover #submenu1 li:hover a{
    font-weight: bold;
}

#menu ul #submenu1 li{
    width: 530px;
}

#menu ul #submenu2{
    background-color: rgb(0, 62, 88);
    position: absolute;
    width: 20%;
    height: 97px;
    top: 44.2%;
    left: 40.2%;
    z-index: 99;
    display: none;
}

#menu ul li:hover #submenu2{
    display: block;
}

#menu ul li:hover #submenu2 li a{
    font-weight: initial;
}

#menu ul li:hover #submenu2 li:hover a{
    font-weight: bold;
}

#menu ul #submenu2 li{
    width: 274px;
}

#compartir img{
    display: block;
    float: left;
    width: 30px;
    padding: 0px;
    margin: 5px;
}

#header #compartir{
    position: absolute;
    right: 4%;
    top: 10%;
}

#header .madrid{
    width: 150px;
    position: absolute;
    top: 17%;
    right: 7%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky #submenu, .sticky #submenu1, .sticky #submenu2{
    margin-top: 26.6px;
}

#titulo{
    color: #F59E01;
    font-size: 40px;
    position: absolute;
    top: 47%;
    left: 37%;
}

#caja-becas{
    background-color: white;
    padding-left: 3%;
    padding-top: 5%;
    position: absolute;
    width: 77%;
    height: 218%;
    top: 55%;
    left: 10%;
    border-top: 2px solid grey;
    box-shadow: 9px 12px 28px -6px grey;
    margin-bottom: 15%;
}

#caja-becas p{
    font-family: sans-serif;
    font-size: 22px;
}

#caja-becas p a{
    text-decoration: none;
    color: dodgerblue;
}

#caja-becas #parrafo{
    background: linear-gradient(dodgerblue, orange);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-top: 10px;
    font-family: Bebas;
    font-size: 50px;
    padding-top: 5%;
    height: 70px;
}

#caja-becas #imagen-mec{
    margin-top: 2%;
    margin-left: 12%;
    width: 550px;
}

#caja-becas #segunda_oportunidad{
    position: absolute;
    top: 66.5%;
    left: 32%;
    width: 350px;
}

span{
    font-weight: bold;
}

#becas{
    margin-top: 18%;
}

#celo{
    width: 60px;
    position: absolute;
    top: 51%;
    left: 15%;
    z-index: 99;
}

#celo1{
    width: 60px;
    position: absolute;
    top: 51%;
    right: 15%;
    z-index: 99;
}

#pie{
    background: linear-gradient(to right, rgb(71, 120, 255), rgb(255, 199, 96));
    text-align: center;
    font-size: 20px;
    padding-top: 7%;
    color: white;
    width: 100%;
    height: 130px;
    position: absolute;
    top: 290.05%;
}

#pie a{
    text-decoration: none;
    color: black;
}