@font-face{
    font-family: 'Bebas';
    src: url(fonts/BebasNeue-Regular.ttf);
}

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body{
    background-color: #DAEBF3;
}

#header{
    height: 270px;
    width: 100%;
    background-color: white;
}

#header img{
    width: 220px;
    display: block;
    margin-left: 6%;
    padding-top: 15px;
}

#header h1{
    position: absolute;
    left: 33%;
    top: 10%;
    font-size: 100px;
    font-family: Bebas;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

#header #share{
    width: 20px;
    position: absolute;
    right: 8.5%;
    top: 3.2%;
}

#header p{
    font-size: 20px;
    color: #F59E01;
    position: absolute;
    right: 10%;
    top: 5%;
}

.lista{
    background-color: #0077A9;
    font-weight: bold;
}

#menu{
    position:fixed;
    z-index: 101;
    top:0px;
    margin:auto;
    background-color: #000;
    height: 50px;
}
        
#menu a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
}
            
#menu li{
    display:inline-block;
    width:150px;
    height:18px;
    padding:15px;
    border:1px solid #000;
    text-align:center;
    background-color:#000;
    color:#fff;
}

#menu ul{
    margin-left: 10%;
}
            
#menu li:hover{
    background-color:#fff;
    color:#000;
}
            
#menu li > ul{
position:absolute;
left:0px;
top:30px;
display:block;
}
            
#menu li > ul{
    display:none;
}            

#menu li:hover > ul{
    display:block;
}

#compartir img{
    display: block;
    float: left;
    width: 30px;
    padding: 0px;
    margin: 5px;
}

#header #compartir{
    position: absolute;
    right: 4%;
    top: 10%;
}

#header .madrid{
    width: 150px;
    position: absolute;
    top: 17%;
    right: 7%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky #submenu, .sticky #submenu1, .sticky #submenu2{
    margin-top: 26.6px;
}

#pie{
    background: linear-gradient(to right, rgb(71, 120, 255), rgb(255, 199, 96));
    text-align: center;
    font-size: 20px;
    padding-top: 7%;
    color: white;
    width: 100%;
    height: 130px;
    position: absolute;
    top: 290.05%;
}

#pie a{
    text-decoration: none;
    color: black;
}


